@import "tailwindcss";

body {
  background: linear-gradient(#FAF0C6, #E39191, #B2D8F6);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scrollDontShow::-webkit-scrollbar {
  display: none;
}

.input-number::-webkit-inner-spin-button {
  display: none;
}